<% content_for :title, @stock.name + "- The Paigetopain Stock Exchange" %>

<div class="row">
  <div style="margin-top:40px;" class="col-lg-12 col-md-12 col-sm-12">
<h1><%= @stock.name %></h1>

<p>
  <strong>Stock Date:</strong>
</p>
<p>
  <strong>Total shares:</strong>
  <%= @stock.total_shares %>
</p>

<p>
  <strong>Shares left:</strong>
  <%= @stock.shares_left %>
</p>

<p>
  <strong>Today's Value:</strong>
  <%= @stock.value %>
</p>

<% if current_user %>
<p>
<strong>I Own:</strong>
<%= @total_shares %>/<%= @stock.total_shares %>
</p>
<% end %>

<% if current_user.admin? %><%= link_to 'Edit', edit_stock_path(@stock) %>|<% end %><%= link_to 'Back', stocks_path %>
</div>
</div>