<% content_for :title, "Purchases - The Paigetopian Stock Market" %>
<% if current_user.admin? %>
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">All Purchases</h2>
  </div>
</div>

<table class="table">
  <thead>
    <tr>

      <th>Stock</th>
      <th>Shares</th>
      <th>Cost</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
  
        <td><%= purchase.stock.name %></td>
        <td><%= purchase.shares %></td>
        <td><%= purchase.profit %></td>
        <td><%= purchase.user.name %></td>
        <td><%= link_to 'Show', purchase %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>