<% if current_user.id == @purchase.user_id or current_user.admin? %>
<% content_for :title, "Recepit Number " + @purchase.id.to_s + "- The Paigetopian Stock Market" %>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
<h2 class="page-header">Thank you! Your purchase has been complete!</h2>


<p>
  <strong>Billed To:</strong>
  <%= @purchase.user.name %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @purchase.stock.name %>
</p>

<p>
  <strong>Shares Purchased:</strong>
  <%= @purchase.shares %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @purchase.profit %>
</p>


<%= link_to 'Back', "/overview" %>
</div>
</div>
<% else %>
<h2 class="page-header">Sorry you do not have permission to view this data.</h2>
<% end %>