<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :stock_id %><br>
    <%= f.collection_select :stock_id, Stock.all, :id, :name, {prompt: "Select a stock"}, {class: "form-control"} %>
  </div>
  
  <div class="form-group">
    <%= f.label :shares, "Shares" %><br>
    <%= f.number_field :shares, class: 'form-control' %>
  </div>
  
      <%= f.hidden_field :user_id, :value => current_user.id %>

 
 
  <div class="actions">
    <%= f.submit "Sell Stock", class: 'btn btn-primary'  %>
  </div>
<% end %>
