<% if current_user.id == @sale.user_id or current_user.admin? %>
<% content_for :title, "Recepit Number " + @sale.id.to_s + "- The Paigetopian Stock Market" %>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
<h2 class="page-header">Thank you! Your sale has been completed!</h2>


<p>
  <strong>Billed To:</strong>
  <%= @sale.user.name %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @sale.stock.name %>
</p>

<p>
  <strong>Shares Sold:</strong>
  <%= @sale.shares %>
</p>

<p>
  <strong>Profit:</strong>
  <%= @sale.profit %>
</p>


<%= link_to 'Back', "/overview" %>
</div>
</div>

<% else %>
<h2 class="page-header">Sorry you do not have permission to view this data.</h2>
<% end %>