   <% if current_user %>
    <!--  wrapper -->
  
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <h3 style="color:white;">The Paigetopian Stock Market</h3>
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->
     
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      
                    </a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="http://www.gravatar.com"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        <li class="divider"></li>
                        <li><%= link_to destroy_user_session_path, method: :delete do %> <i class="fa fa-sign-out fa-fw"></i>Logout</a><% end %>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">
                                <%= image_tag avatar_url(current_user) %>
                            </div>
                            <div class="user-info">
                                <div><%= current_user.name %></div>
                                <div class="user-text-online">
                                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Connected
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                   
                    </li>
                    <li>
                        <a href="/"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                    </li>
                    <li>
                    <%= link_to "/overview" do %><i class="fa fa-bar-chart-o fa-fw"></i>Overview</span><% end %>
                        <%= link_to new_purchase_path do %><i class="fa fa-bar-chart-o fa-fw"></i>Buy Shares</span><% end %>
                        <%= link_to new_sale_path do %><i class="fa fa-bar-chart-o fa-fw"></i>Sell Shares</span><% end %>
                              
                               
                                       <%= link_to stocks_path do %><i class="fa fa-table fa-fw"></i>NSX - Today's Market<% end %>
                                       <%= link_to "http://www.tinyurl.com/psx-16-trends" do %><i class="fa fa-edit fa-fw"></i>NSX - Past Market<% end %>
                                       <%= link_to new_transfer_path do %><i class="fa fa-edit fa-fw"></i>Make a Transfer<% end %>
                                       
                                       <% if current_user.admin? %>
                                       <%= link_to "Update Stocks", stocks_path %>
                                       <%= link_to "View Pending Transfers", transfers_path %>
                                       <%= link_to "View All Purchases", purchases_path %>
                                       <%= link_to "View All Sales", sales_path %>
                                       <%= link_to "All Users", users_path %>
                                       <% end %>
               
                        <!-- second-level-items -->
                    </li>
                    
                       
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
        <!--  page-wrapper -->

<% else %>

            <% end %>